@model Biblioteka

@{
    ViewData["Title"] = "Usuń bibliotekę";
    var errorMessage = TempData["errorMessage"]?.ToString();
}
<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form action="Delete" method="post" autocomplete="off">
    <div class="row text">
        <div class="col-md-8 offset-2">
            <p>
                <h1>Usuń bibliotekę</h1>
            </p>
            <div class="row">
                <div class="col-md offset-2">
                    <div class="form-group mb-3">
                        <label asp-for="ProfilePictureURL" class="conrol-label"></label>
                        <input asp-for="ProfilePictureURL" class="form-control" readonly />
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="FullName" class="conrol-label"></label>
                        <input asp-for="FullName" class="form-control" readonly />
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Bio" class="conrol-label"></label>
                        <input asp-for="Bio" class="form-control" readonly />
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a class="btn btn-outline-secondary" asp-action="Index">Anuluj</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


