@model elibrary.Models.Biblioteka

@{
    ViewData["Title"] = "Szczegóły biblioteki";
    var errorMessage = TempData["errorMessage"]?.ToString();
}
<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Szczegóły biblioteki</h1>
            </div>
            <div class="card-body">
                <div class="text-center mb-3">
                    <img id="ProfilePicturePreview" class="img-thumbnail uniform-size" />
                </div>
                <div class="form-group mb-3">
                    <label asp-for="LogoBib" class="control-label">Logo Biblioteki</label>
                    <input asp-for="LogoBib" class="form-control" readonly />
                </div>
                <div class="form-group mb-3">
                    <label asp-for="NameBib" class="control-label">Nazwa Biblioteki</label>
                    <input asp-for="NameBib" class="form-control" readonly />
                </div>
                <div class="form-group mb-3">
                    <label asp-for="DescBib" class="control-label">Opis Biblioteki</label>
                    <textarea asp-for="DescBib" class="form-control" rows="5" readonly></textarea>
                </div>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-outline-secondary" asp-action="Index">Powrót</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            var profilePictureURL = $("#LogoBib").val();
            if (profilePictureURL) {
                output.src = profilePictureURL;
            }
        });

        $("#LogoBib").on("input", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        });
    </script>
}

<style>
    .uniform-size {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
</style>